@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.experiencesContainer {
    padding: 80px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    
    @include respond-to("mobile"){
        padding: 40px 0px 40px 0px;
    }
}
.card {
    width: 80%;
    min-height: 200px;

    @include respond-to("mobile"){
        width: 100%;
    }
}