@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.langButton {
    all:unset;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid $border-color;
    cursor: pointer; 
}
.img {
    border-radius: 15px;
    object-fit: cover;
}