@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";



.superContainer{
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    font-weight: $heavy-weight;
    font-size: 18px;
    width: 180px;
    height: 200px;
    border-radius: 15px;
    box-sizing: border-box;

    &:hover {
        background-color: $card-hover;
    }

    @include respond-to("mobile") {
        width: 120px;
        height: 150px;
    }

}
.logo{
    img{
        all:unset;
        height: 80%;
        box-sizing: border-box;
    }
    display: flex;
    align-items: center;
    height: 70%;
    padding: 15px 0;
    box-sizing: border-box;    
}
.progress {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;

}
.progressBar {
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background-color: $border-color;
    display: flex;
    justify-content: flex-start;

}
.progressFill {
    height: 100%;
    border-radius: 4px 0 0 4px;
    background-color: $secondary-color;

}
.tooltip {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 15px;
    background-color: $tooltip-bgcolor;
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000
}
.tooltipImage {
    img {
        width: 100%
    }
}
.tooltipText {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: flex-start;
    font-size: 14px;

}
.tooltipTitle {
    font-size: 14px;
    font-weight: $heavy-weight;
}